
* {
   text-align: center;
}

body{
   border: 2px solid black;
   margin-left: 25%;
   margin-right: 25%;
   padding-top: 2%;
   padding-bottom: 5%;
}
#header{
padding-top: 2%;
color: blue;
}
#container {
    margin-top: 8%;
   line-height: 150%;
}